*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(255, 255, 255, 0.74);
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* shared styles */
.primary-color{
    color: #4E47FF;
}

.primary-btn{
background-color: rgba(78, 71, 255, 1);
font-weight: bold;
font-size: 16px;
font-family: inherit;
color: #fff;
border: none;
padding: 12px 36px;
border-radius: 10px;
}

.primary-btn:hover{
    background-color: rgb(89, 0, 255);
    transition: 0.5s ease-in;
    box-shadow: -12px 12px 20px 0 rgba(93, 6, 255, 0.308);
    cursor: pointer;
}

.section-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}

.section-description{
    color: #25243244;
    font-size: 24px;
    font-weight: normal;
}

.small-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

/* header styles */
.header{
    background-image: url(/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    height: 698px;
    overflow: hidden;
}

/* nav styles */
nav{
    display: flex;
    margin:50px 150px;
    justify-content: space-between;
    align-items: center;
}
nav .nav-title{
    font-size: 34px;
    font-weight: 800;
}

/* banner styles */
.banner-items {
    margin-top: 200px;
    text-align: center;

}
.banner-title{
    margin-bottom: 37px;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

/* main styles */
/* first section styles */

.live-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.actions-info{
    text-align: left;
    margin: 63px 141px;
}

.margin-top-c{
    margin-top:23px;
}

.wc-mini{
    background-repeat: no-repeat;
    max-width: 403px;
    height: 328px;
    border-radius: 48px;
    margin-right: 100px;
}

/* second section styles user count */
.p-u-s{
    background-color: rgba(77, 71, 255, 0.164);
    max-width: 1140px;
    height: 306px;
    border-radius: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px auto;
}

.p-u-s-title{
    margin-bottom: 40px;
}
.users-counts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:158px;
}

.count{
    font-size: 80px;
    font-weight: bold;
}


/* reviewer review styles */
.users-interest{
width:1140px;
height: 342px;
margin: 137px auto;
}

.usr-review{
    border:1px solid #F2EDED;
    margin-left: 20px;
    padding:10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: -12px 12px 20px rgba(0, 0, 0, 0.030);
}

.reviews{
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
}


.section-title-rv{
text-align: center;
}

.usr-review .stars{
    display: flex;
}

.usr-review .review-info{
    margin-top:24px;
}

.reviewer-review{
    margin-top:8px;
}

.reviewer-profile-date{
    margin-top: 24px;
    display: flex;
}

.reviewer-profile-date .reviewer-avatar{

    border-radius: 50%;
}

.review-time{
    margin-left: 12px;
}

.reviewer-name{
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
}

.review-date{
    font-weight: 300;
    color: rgba(117, 117, 117, 1);
}

/* promotion styles */
.promotion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto 92px auto;
}

.promotion .promotion-title, .promotion-description, .promotion-btn, .wc-big{
    margin-top: 20px;
}

.wc-big{
    border-radius: 48px;
    max-width: 840px;
    height: 365px;
    background-repeat: no-repeat;
}

/* get in touch styles */
.lgit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 92px;
}
.section-big-title{
    font-size: 97px;
    color: black;
}
.right-side form{
    display: flex;
    flex-direction: column;
    max-width: 497px;
}

.right-side form label{
font-size: 18px;
font-weight: 500;
color: black;
margin-bottom: 10px;
margin-top: 19px;
}

.right-side form input, textarea{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    width: 400px;
}

.right-side form .input-text{
    font-size: 20px;
    color: rgba(80, 80, 80, 0.322);
}

.right-side form button{
    margin-top: 15px;
}

/* footer section styles */
.footer{
    background-color: white;
}